@primary: #3D83FB;
@ink: #333;
@y: #ff0;

@font-size-base: 32px;
@font-size-xl: @font-size-base * 2.25;
@font-size-lg: @font-size-base * 1.25;
@font-size-sm: @font-size-base * 0.75;

.bottom-line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
}